:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --fs-400: 1rem;
  --ff-base: Inter, system-ui, sans-serif;
}

body {
  font-family: var(--ff-base);
  line-height: 1.5;
  font-weight: 400;
  margin: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ECECEC;
  }
}
